.qw{
	margin: 0 auto;
	padding: 0;
	width: 100%;
	max-width: 1200px;
	height: 100%;	
	font-family: Arial;
	font-size: 18px;
	background: url(../icon/back.jpg) no-repeat	;
	background-size: 100% 100%;
}
.header{
	width: 100%;	
	height: 50px;
	text-align: center;
	padding-top: 50px;
}
a{
	text-decoration: none;
	color: #fff;
	margin-right: 40px;
}
a:hover{
	font-weight: bold;
	color: #000;
}
.footer{
	width: 100%;	
	height: 60px;
}
.wrapper{
	margin: 0 auto;
	width: 60%;
	height: 480px;	
	border-radius: 25px;
	background: url(../icon/fon.jpg) no-repeat;
	background-size: 100% 100%;
	padding: 20px 20px;
}
.vc{
	margin: 0 auto;
	width: 80%;
	height: 40px;
	border: 1px solid;	
	border-radius: 10px;
	padding: 20px 20px;
	position: relative;
	margin-bottom: 10px;

}
a .manager{	
	width: 50px;
	height: 30px;
	border-radius: 5px;
}
img{
	width: 60px;
	height: 30px;		
	border-radius: 10px;
	position: absolute;
	top: 11px;
	right: 30px;
}

